/*-----------------------*/
/*------Quotes-----------*/
/*-----------------------*/
.home_quote--Box__gradients{
    background: url("../assets/img/icon-6.svg") no-repeat,no-repeat  50% 50% linear-gradient(to right bottom,rgb(115, 194, 240),rgb(35, 51, 210)) content-box;
    height: 30rem;
    background-position:right;
}
.nav--title img{
    height: 5rem;
}
.header__nav--bg{
    background: #0999e0;
}

.nav--title img{

}
.pallets:first-child{
    border-bottom: 2pt solid rgba(228, 228, 228, 0.589);
    padding-bottom: 6rem ;
    margin: 0 !important;
}