/*--------------------------------*/
/*------------Backgrounds---------*/
/*--------------------------------*/
.hot-1{
    background: linear-gradient(#fec194,#f04393);
}
.hot-2{
    background: linear-gradient(#00ffff,#f9c449);
}
.hot-3{
    background: linear-gradient(#f04393,#f9c449);
}
.bg-1{
    background: no-repeat  50% 50% linear-gradient(to right bottom,rgb(115, 194, 240),rgb(35, 51, 210)) ;
}
.hot-4{
    background: linear-gradient(#fc0061, #1fc9fd);
}
/*line 2*/
.hot-5{
    background: linear-gradient(#ffe53b,#ff2525);
}
.hot-6{
    background: linear-gradient(#00c0ff,#421888);
}
.hot-7{
    background: linear-gradient(#5efce8,#28c76f);
}

.hot-8{
    background: linear-gradient(#f04393, #ff2525);
}
/*line 3*/
.hot-9{
    background: linear-gradient(#c73866,#ffdca2);
}
.hot-10{
    background: linear-gradient(#f94a6b,#28c76f);
}
.hot-11{
    background: linear-gradient(#f94a6b,#9CECFB);
}

.hot-12{
    background: linear-gradient(#d0e6a5, #4aDEDE);
}

/* colors*/
.col-1{
    background-color: #1abc9c;
}
.col-2{
    background-color:#2ecc71;
}
.col-3{
    background-color:#3498db;
}
.col-4{
    background-color: #9b59b6;
}
.col-5{
    background-color:#16a085;
}
.col-6{
    background-color:#27ae60
    
}
.col-7{
    background-color:#2980b9;
}
.col-8{
    background-color:#8e44ad;
}
.col-9{
    background-color:#34495e;
}
.col-10{
    background-color: #f1c40f;
}
.col-11{
    background-color:#e67e22;
}
.col-12{
    background-color:#e74c3c;
}
.col-13{
    background-color:#2c3e50;
}
.col-14{
    background-color: #f39c12;
}
.col-15{
    background-color:#d35400;
}
.col-16{
    background-color:#c0392b;
}
/*----------Mono--------------*/
  /*--------------------------------*/
  /*-------------Line 2 ------------*/
/*---------------------------------*/
.col-a-1{
    background-color: #142850;
}
.col-a-2{
    background-color:#27496d;
}
.col-a-3{
    background-color:#0c7b93;
}
.col-a-4{
    background-color: #00a8cc;
}
.col-a-5{
    background-color:#4bbfd9;
}

.col-b-1{
    background-color: #098c98;
}
.col-b-2{
    background-color:#0baab8;
}
.col-b-3{
    background-color:#0ed6e9;
}
.col-b-4{
    background-color: #76ecf7;
}
.col-b-5{
    background-color:#a6f3fa;
}

.col-c-1{
    background-color:#546811;
}
.col-c-2{
    background-color: #697c12;
}
.col-c-3{
    background-color:#81971c;
}
.col-c-4{
    background-color:#98aa11;
}
.col-c-5{
    background-color: #d2d83f
}




  /*--------------------------------*/
    /*-------------Line 2 ------------*/
/*---------------------------------*/

.col-d-1{
    background-color: #462197;
}
.col-d-2{
    background-color:#602dce;
}
.col-d-3{
    background-color:#8962dd;
}
.col-d-4{
    background-color: #9e7ee3;
}
.col-d-5{
    background-color:#c8b6ef;
}

.col-e-1{
    background-color: #900d11;
}
.col-e-2{
    background-color:#de141a;
}
.col-e-3{
    background-color:#ed292e;
}
.col-e-4{
    background-color: #ee484d;
}
.col-e-5{
    background-color:#f48689;
}

.col-f-1{
    background-color: #6f500d;
}
.col-f-2{
    background-color:#ac7c14;
}
.col-f-3{
    background-color:#e8b23e;
}
.col-f-4{
    background-color: #fac854;
}
.col-f-5{
    background-color:#edc46c;
}

 /*--------------------------------*/
    /*-------------Line  ------------*/
/*---------------------------------*/



.col-g-1{
    background-color: #323d51;
}
.col-g-2{
    background-color:#4b5d7b;
}
.col-g-3{
    background-color:#5f759a;
}
.col-g-4{
    background-color: #92a2bc;
}
.col-g-5{
    background-color:#a7b4c9;
}

.col-h-1{
    background-color: #7b0961;
}
.col-h-2{
    background-color:#ca0e9f;
}
.col-h-3{
    background-color:#ef1cbf;
}
.col-h-4{
    background-color: #f24ccc;
}
.col-h-5{
    background-color:#f78bde;
}

.col-i-1{
    background-color: #545426;
}
.col-i-2{
    background-color:#9a9946;
}
.col-i-3{
    background-color:#b0af52;
}
.col-i-4{
    background-color: #bbba69;
}
.col-i-5{
    background-color:#cbca8c;
}


 /*--------------------------------*/
    /*-------------Line  ------------*/
/*---------------------------------*/


.col-j-1{
    background-color: #7ee6e7;
}
.col-j-2{
    background-color:#9aebec;
}
.col-j-3{
    background-color:#b3f0f1;
}
.col-j-4{
    background-color: #ccf6f5;
}
.col-j-5{
    background-color:#e5fafb;
}


.col-k-1{
    background-color:#777ace;
}
.col-k-2{
    background-color:#888cd8;
}
.col-k-3{
    background-color:#b5b0ed;
}
.col-k-4{
    background-color: #cfc7ff;
}
.col-k-5{
    background-color:#d9d3ff;
}


.col-l-1{
    background-color:#915cc8;
}
.col-l-2{
    background-color:#af71ea;
}
.col-l-3{
    background-color:#bd8fde;
}
.col-l-4{
    background-color:#d6a1e0;
}
.col-l-5{
    background-color:#eab2e3;
}

 /*--------------------------------*/
    /*-------------Line  ------------*/
/*---------------------------------*/


.col-n-1{
    background-color: #8d356f;
}
.col-n-5{
    background-color:#ffb4b5;
}
.col-n-4{
    background-color:#d6719d;
}
.col-n-3{
    background-color:#b15694;
}
.col-n-2{
    background-color:#8d408e;
}


.col-m-1{
    background-color: #413e49;
}
.col-m-2{
    background-color:#73616d;
}
.col-m-3{
    background-color:#b38184;
}
.col-m-4{
    background-color: #f0b39e;
}
.col-m-5{
    background-color:#f7e3be;
}


.col-o-1{
    background-color: #25083e;
}
.col-o-2{
    background-color:#501e53;
}
.col-o-3{
    background-color:#8d356f;
}
.col-o-4{
    background-color: #dc698a;
}
.col-o-5{
    background-color:#df7c99;
}



 /*--------------------------------*/
    /*-------------Line  ------------*/
/*---------------------------------*/


.col-p-1{
    background-color: #f35ca1}
.col-p-2{
    background-color:#f27bb1;
}
.col-p-3{
    background-color:#fca1ca;
}
.col-p-4{
    background-color: #ffbedc;
}
.col-p-5{
    background-color:#fee2f0;
}


.col-q-1{
   background-color:#f92c6a;
}
.col-q-2{
    background-color:#f95f98;
}
.col-q-3{
     background-color: #f9b9e8;
}
.col-q-4{
    background-color:#f9d1f2;
}
.col-q-5{
    background-color:#ffe0ef;
}


.col-r-1{
    background-color: #915cc8;
}
.col-r-2{
    background-color:#a37bd6;
}
.col-r-3{
    background-color:#bd8fde;
}
.col-r-4{
    background-color: #d6a1e0;
}
.col-r-5{
    background-color:#eab2e3;
}