/*--------------------------------*/
/*------------Gradients---------*/
/*--------------------------------*/
.hot-1{
    background: linear-gradient(#fec194,#f04393);
}
.hot-2{
    background: linear-gradient(#00ffff,#f9c449);
}
.hot-3{
    background: linear-gradient(#f04393,#f9c449);
}
.bg-1{
    background: no-repeat  50% 50% linear-gradient(to right bottom,rgb(115, 194, 240),rgb(35, 51, 210)) ;
}
.hot-4{
    background: linear-gradient(#fc0061, #1fc9fd);
}
/*line 2*/
.hot-5{
    background: linear-gradient(#ffe53b,#ff2525);
}
.hot-6{
    background: linear-gradient(#00c0ff,#421888);
}
.hot-7{
    background: linear-gradient(#5efce8,#28c76f);
}

.hot-8{
    background: linear-gradient(#f04393, #ff2525);
}
/*line 3*/
.hot-9{
    background: linear-gradient(#c73866,#ffdca2);
}
.hot-10{
    background: linear-gradient(#f94a6b,#28c76f);
}
.hot-11{
    background: linear-gradient(#f94a6b,#9CECFB);
}

.hot-12{
    background: linear-gradient(#d6a3dc, #a5dee5);
}
/*line 4*/
.hot-13{
    background: linear-gradient(#eabebf,#f7db70);
}
.hot-14{
    background: linear-gradient(#f7db70,#a5dee5);
}
.hot-15{
    background: linear-gradient(#eabebf,#d6a3dc);
}

.hot-16{
    background: linear-gradient(#75cce8, #eabebf);
}
/*line 5*/
.hot-17{
    background: linear-gradient(#050831,#f946aa);
}
.hot-18{
    background: linear-gradient(#42549f,#415ba6);
}
.hot-19{
    background: linear-gradient(#f946aa,#42549f);
}

.hot-20{
    background: linear-gradient(#0ea18f, #fb9469);
}
/*line 6*/
.hot-21{
    background: linear-gradient(#050831,#f946aa);
}
.hot-22{
    background: linear-gradient(#f46a79,#415ba6);
}
.hot-23{
    background: linear-gradient(#fab636,#1aa6b7);
}

.hot-24{
    background: linear-gradient(#415ba6, #53a6d8);
}
/*line 7*/
.hot-25{
    background: linear-gradient(#050831,#d65c5b);
}
.hot-26{
    background: linear-gradient(#ff414d,#154654);
}
.hot-27{
    background: linear-gradient(#88cdf6,#42549f);
}
.hot-28{
    background: linear-gradient(#0ea18f, #f9e173);
}
/*line 8*/
.hot-29{
    background: linear-gradient(#f2d414,#192473);
}
.hot-30{
    background: linear-gradient(#a9f26f,#de1f6f);
}
.hot-31{
    background: linear-gradient(#f0cd79,#083465);
}
.hot-32{
    background: linear-gradient(#4fc2f1,#9c16d9);
}
/*line 9*/
.hot-33{
    background: linear-gradient(#f6e8b9,#8f7092);
}
.hot-34{
    background: linear-gradient(#e2ad9f,#083465);
}
.hot-35{
    background: linear-gradient(#98ebbd,#083465);
}

.hot-36{
    background: linear-gradient(#e4be7f,#e1481e);
}
/*line 10*/
.hot-37{
    background: linear-gradient(#f0c634,#af22ea);
}
.hot-38{
    background: linear-gradient(#80e4a8,#1c67a8);
}
.hot-39{
    background: linear-gradient(#f8ca14,#df170a);
}
.hot-40{
    background: linear-gradient(#fce0b9,#cf34fc);
}
/*line 11*/
.hot-41{
    background: linear-gradient(#eabebf,#f7db70);
}
.hot-42{
    background: linear-gradient(#f7db70,#a5dee5);
}
.hot-43{
    background: linear-gradient(#eabebf,#d6a3dc);
}

.hot-44{
    background: linear-gradient(#75cce8, #eabebf);
}
/*---------------------------------*/
/* Hot Pallets By flatUicolors.com*/
/*--------------------------------*/
.col-1{
    background-color: #1abc9c;
}
.col-2{
    background-color:#2ecc71;
}
.col-3{
    background-color:#3498db;
}
.col-4{
    background-color: #9b59b6;
}
.col-5{
    background-color:#16a085;
}
.col-6{
    background-color:#27ae60
    
}
.col-7{
    background-color:#2980b9;
}
.col-8{
    background-color:#8e44ad;
}
.col-9{
    background-color:#34495e;
}
.col-10{
    background-color: #f1c40f;
}
.col-11{
    background-color:#e67e22;
}
.col-12{
    background-color:#e74c3c;
}
.col-13{
    background-color:#2c3e50;
}
.col-14{
    background-color: #f39c12;
}
.col-15{
    background-color:#d35400;
}
.col-16{
    background-color:#c0392b;
}

/* Chinese pallete by wenjun
*/

.col-17{
    background-color: #eccc68;
}
.col-18{
    background-color:#ff7f50;
}
.col-20{
    background-color:#ff6b81;
}
.col-21{
    background-color: #7bed9f;
}

.col-22{
    background-color:#ffa502;
}
.col-23{
    background-color:#ff6348  
}
.col-24{
    background-color:#ff4757;
}
.col-25{
    background-color:#2ed573;
}


.col-26{
    background-color:#5352ed;
}
.col-27{
    background-color: #a4b0be;
}
.col-28{
    background-color:#57606f;
}
.col-29{
    background-color:#e74c3c;
}


.col-30{
    background-color:#3742fa;
}
.col-31{
    background-color: #747d8c;
}
.col-32{
    background-color:#dfe4ea;
}
.col-33{
    background-color:#ced6e0;
}


/* Dutch Palette by Jeroen Van Eerden
*/

.col-34{
    background-color: #FFC312;
}
.col-35{
    background-color:#C4E538;
}
.col-36{
    background-color:#12CBC4;
}
.col-37{
    background-color: #FDA7DF;
}

.col-38{
    background-color:#F79F1F;
}
.col-39{
    background-color:#A3CB38  
}
.col-40{
    background-color:#1289A7;
}
.col-41{
    background-color:#D980FA;
}


.col-42{
    background-color:#ED4C67;
}
.col-43{
    background-color: #833471;
}
.col-44{
    background-color:#833471;
}
.col-45{
    background-color:#e74c3c;
}


.col-46{
    background-color:#B53471;
}
.col-47{
    background-color: #833471;
}
.col-48{
    background-color:#6F1E51;
}
.col-49{
    background-color:#e74c3c;
}
 
.col-50{
    background-color:#EE5A24;
}
.col-51{
    background-color: #009432;
}
.col-52{
    background-color:#0652DD;
}
.col-53{
    background-color:#9980FA;
}


.col-54{
    background-color:#EA2027;
}
.col-55{
    background-color: #006266;
}
.col-56{
    background-color:#1B1464;
}
.col-57{
    background-color:#5758BB;
}
 

/* Russian Palette by Alexander Zaytsev
*/

.col-58{
    background-color: #f3a683;
}
.col-59{
    background-color:#778beb;
}
.col-60{
    background-color:#e77f67;
}
.col-62{
    background-color: #cf6a87;
}


.col-63{
    background-color:#f19066;
}
.col-64{
    background-color:#546de5  
}
.col-65{
    background-color:#e15f41;
}
.col-66{
    background-color:#c44569;
}


.col-67{
    background-color:#f8a5c2;
}
.col-68{
    background-color: #63cdda;
}
.col-69{
    background-color:#ea8685;
}
.col-70{
    background-color:#596275;
}


.col-71{
    background-color:#f78fb3;
}
.col-72{
    background-color: #3dc1d3;
}
.col-73{
    background-color:#e66767;
}
.col-74{
    background-color: #303952;
}


/* American Palette by Kevin Yang 
*/

.col-75{
    background-color: #55efc4;
}
.col-76{
    background-color:#81ecec;
}
.col-77{
    background-color:#74b9ff;
}
.col-78{
    background-color: #a29bfe;
}


.col-79{
    background-color:#00b894;
}
.col-80{
    background-color:#00cec9  
}
.col-81{
    background-color:#0984e3;
}
.col-82{
    background-color:#6c5ce7;
}


.col-83{
    background-color:#ffeaa7;
}
.col-84{
    background-color: #fab1a0;
}
.col-85{
    background-color:#ff7675;
}
.col-86{
    background-color:#fd79a8;
}

.col-87{
    background-color:#fdcb6e;
}
.col-88{
    background-color: #e17055;
}
.col-89{
    background-color:#d63031;
}
.col-90{
    background-color: #e84393;
}


/*---greys--*/

.col-91{
    background-color:#dfe6e9;
}
.col-92{
    background-color: #b2bec3;
}
.col-93{
    background-color:#636e72;
}
.col-94{
    background-color: #2d3436   ;
}


/*----------Mono--------------*/
  /*--------------------------------*/
  /*-------------Line 2 ------------*/
/*---------------------------------*/
.col-a-1{
    background-color: #142850;
}
.col-a-2{
    background-color:#27496d;
}
.col-a-3{
    background-color:#0c7b93;
}
.col-a-4{
    background-color: #00a8cc;
}
.col-a-5{
    background-color:#4bbfd9;
}

.col-b-1{
    background-color: #098c98;
}
.col-b-2{
    background-color:#0baab8;
}
.col-b-3{
    background-color:#0ed6e9;
}
.col-b-4{
    background-color: #76ecf7;
}
.col-b-5{
    background-color:#a6f3fa;
}

.col-c-1{
    background-color:#546811;
}
.col-c-2{
    background-color: #697c12;
}
.col-c-3{
    background-color:#81971c;
}
.col-c-4{
    background-color:#98aa11;
}
.col-c-5{
    background-color: #d2d83f
}




  /*--------------------------------*/
    /*-------------Line 2 ------------*/
/*---------------------------------*/

.col-d-1{
    background-color: #462197;
}
.col-d-2{
    background-color:#602dce;
}
.col-d-3{
    background-color:#8962dd;
}
.col-d-4{
    background-color: #9e7ee3;
}
.col-d-5{
    background-color:#c8b6ef;
}

.col-e-1{
    background-color: #900d11;
}
.col-e-2{
    background-color:#de141a;
}
.col-e-3{
    background-color:#ed292e;
}
.col-e-4{
    background-color: #ee484d;
}
.col-e-5{
    background-color:#f48689;
}

.col-f-1{
    background-color: #6f500d;
}
.col-f-2{
    background-color:#ac7c14;
}
.col-f-3{
    background-color:#e8b23e;
}
.col-f-4{
    background-color: #fac854;
}
.col-f-5{
    background-color:#edc46c;
}

 /*--------------------------------*/
    /*-------------Line  ------------*/
/*---------------------------------*/



.col-g-1{
    background-color: #323d51;
}
.col-g-2{
    background-color:#4b5d7b;
}
.col-g-3{
    background-color:#5f759a;
}
.col-g-4{
    background-color: #92a2bc;
}
.col-g-5{
    background-color:#a7b4c9;
}

.col-h-1{
    background-color: #7b0961;
}
.col-h-2{
    background-color:#ca0e9f;
}
.col-h-3{
    background-color:#ef1cbf;
}
.col-h-4{
    background-color: #f24ccc;
}
.col-h-5{
    background-color:#f78bde;
}

.col-i-1{
    background-color: #545426;
}
.col-i-2{
    background-color:#9a9946;
}
.col-i-3{
    background-color:#b0af52;
}
.col-i-4{
    background-color: #bbba69;
}
.col-i-5{
    background-color:#cbca8c;
}


 /*--------------------------------*/
    /*-------------Line  ------------*/
/*---------------------------------*/


.col-j-1{
    background-color: #7ee6e7;
}
.col-j-2{
    background-color:#9aebec;
}
.col-j-3{
    background-color:#b3f0f1;
}
.col-j-4{
    background-color: #ccf6f5;
}
.col-j-5{
    background-color:#e5fafb;
}


.col-k-1{
    background-color:#777ace;
}
.col-k-2{
    background-color:#888cd8;
}
.col-k-3{
    background-color:#b5b0ed;
}
.col-k-4{
    background-color: #cfc7ff;
}
.col-k-5{
    background-color:#d9d3ff;
}


.col-l-1{
    background-color:#915cc8;
}
.col-l-2{
    background-color:#af71ea;
}
.col-l-3{
    background-color:#bd8fde;
}
.col-l-4{
    background-color:#d6a1e0;
}
.col-l-5{
    background-color:#eab2e3;
}

 /*--------------------------------*/
    /*-------------Line  ------------*/
/*---------------------------------*/


.col-n-1{
    background-color: #8d356f;
}
.col-n-5{
    background-color:#ffb4b5;
}
.col-n-4{
    background-color:#d6719d;
}
.col-n-3{
    background-color:#b15694;
}
.col-n-2{
    background-color:#8d408e;
}


.col-m-1{
    background-color: #413e49;
}
.col-m-2{
    background-color:#73616d;
}
.col-m-3{
    background-color:#b38184;
}
.col-m-4{
    background-color: #f0b39e;
}
.col-m-5{
    background-color:#f7e3be;
}


.col-o-1{
    background-color: #25083e;
}
.col-o-2{
    background-color:#501e53;
}
.col-o-3{
    background-color:#8d356f;
}
.col-o-4{
    background-color: #dc698a;
}
.col-o-5{
    background-color:#df7c99;
}



 /*--------------------------------*/
    /*-------------Line  ------------*/
/*---------------------------------*/


.col-p-1{
    background-color: #f35ca1}
.col-p-2{
    background-color:#f27bb1;
}
.col-p-3{
    background-color:#fca1ca;
}
.col-p-4{
    background-color: #ffbedc;
}
.col-p-5{
    background-color:#fee2f0;
}


.col-q-1{
   background-color:#f92c6a;
}
.col-q-2{
    background-color:#f95f98;
}
.col-q-3{
     background-color: #f9b9e8;
}
.col-q-4{
    background-color:#f9d1f2;
}
.col-q-5{
    background-color:#ffe0ef;
}


.col-r-1{
    background-color: #915cc8;
}
.col-r-2{
    background-color:#a37bd6;
}
.col-r-3{
    background-color:#bd8fde;
}
.col-r-4{
    background-color: #d6a1e0;
}
.col-r-5{
    background-color:#eab2e3;
}



/*--------------------------------------
*/

 /*--------------------------------*/
    /*-------------Line  ------------*/
/*---------------------------------*/


.col-s-1{
    background-color:#48b48b}
.col-s-2{
    background-color:#50e194;
}
.col-s-3{
    background-color:#88ff9c;
}
.col-s-4{
    background-color:#d7ffb1;
}
.col-s-5{
    background-color:#fffcad;
}


.col-t-1{
   background-color:#697c12;
}
.col-t-2{
    background-color:#81971c;
}
.col-t-3{
     background-color: #98aa11;
}
.col-t-4{
    background-color:#bbcd32;
}
.col-t-5{
    background-color:#d2d83f;
}


.col-u-1{
    background-color: #296a0c;
}
.col-u-2{
    background-color:#307b1c;
}
.col-u-3{
    background-color:#3d8e16;
}
.col-u-4{
    background-color: #4da51d;
}
.col-u-5{
    background-color:#53b129;
}

 /*--------------------------------*/
    /*-------------Line  ------------*/
/*---------------------------------*/


.col-v-1{
    background-color:#296a0c}
.col-v-2{
    background-color:#307b1c;
}
.col-v-3{
    background-color:#3d8e16;
}
.col-v-4{
    background-color:#4da51d;
}
.col-v-5{
    background-color:#53b129;
}


.col-w-1{
   background-color:#216651;
}
.col-w-2{
    background-color:#3e9278;
}
.col-w-3{
     background-color: #74baa0;
}
.col-w-4{
    background-color:#b8d8c0;
}
.col-w-5{
    background-color:#d0e0d3;
}


.col-x-1{
    background-color: #3300aa;
}
.col-x-2{
    background-color:#3344aa;
}
.col-x-3{
    background-color:#3399aa;
}
.col-x-4{
    background-color: #33ddaa;
}
.col-x-5{
    background-color:#33FFaa;
}

 /*--------------------------------*/
    /*-------------Line  ------------*/
/*---------------------------------*/


.col-y-1{
    background-color:#ff00aa}
.col-y-2{
    background-color:#ff33aa;
}
.col-y-3{
    background-color:#ff66aa;
}
.col-y-4{
    background-color:#ff88aa;
}
.col-y-5{
    background-color:#ffaaaa;
}


.col-z-1{
   background-color:#ff00ff;
}
.col-z-2{
    background-color:#ff33ff;
}
.col-z-3{
     background-color: #ff66ff;
}
.col-z-4{
    background-color:#ff88ff;
}
.col-z-5{
    background-color:#ffaaff;
}


.col-a-a-1{
    background-color: #cc00bb;
}
.col-a-a-2{
    background-color:#cc33bb;
}
.col-a-a-3{
    background-color:#cc66bb;
}
.col-a-a-4{
    background-color: #cc88bb;
}
.col-a-a-5{
    background-color:#ccaabb;
}



/*--------------------------------*/
    /*-------------Line  ------------*/
/*---------------------------------*/


.col-a-b-1{
    background-color:#ff0000}
.col-a-b-2{
    background-color:#ff3300;
}
.col-a-b-3{
    background-color:#ff6600;
}
.col-a-b-4{
    background-color:#ff9900;
}
.col-a-b-5{
    background-color:#ffcc00;
}


.col-a-c-1{
   background-color:#ff0055;
}
.col-a-c-2{
    background-color:#ff3355;
}
.col-a-c-3{
     background-color: #ff6655;
}
.col-a-c-4{
    background-color:#ff9955;
}
.col-a-c-5{
    background-color:#ffcc55;
}


.col-a-d-1{
    background-color: #cc0011;
}
.col-a-d-2{
    background-color:#cc3311;
}
.col-a-d-3{
    background-color:#cc6611;
}
.col-a-d-4{
    background-color: #cc9911;
}
.col-a-d-5{
    background-color:#cccc11;
}


/*--------------------------------*/
    /*-------------Line  ------------*/
/*---------------------------------*/


.col-a-e-1{
    background-color:#9900aa}
.col-a-e-2{
    background-color:#9933aa;
}
.col-a-e-3{
    background-color:#9955aa;
}
.col-a-e-4{
    background-color:#9988aa;
}
.col-a-e-5{
    background-color:#99aaaa;
}


.col-a-f-1{
   background-color:#9900ff;
}
.col-a-f-2{
    background-color:#9933ff;
}
.col-a-f-3{
     background-color: #9955ff;
}
.col-a-f-4{
    background-color:#9988ff;
}
.col-a-f-5{
    background-color:#99aaff;
}


.col-a-g-1{
    background-color: #6600bb;
}
.col-a-g-2{
    background-color:#6633bb;
}
.col-a-g-3{
    background-color:#6655bb;
}
.col-a-g-4{
    background-color: #6688bb;
}
.col-a-g-5{
    background-color:#66aabb
    ;
}

/*--------------------------------*/
    /*-------------Line  ------------*/
/*---------------------------------*/


.col-a-h-1{
    background-color:#3300ff}
.col-a-h-2{
    background-color:#3333ff;
}
.col-a-h-3{
    background-color:#3355ff;
}
.col-a-h-4{
    background-color:#33bbff;
}
.col-a-h-5{
    background-color:#33eeff;
}


.col-a-i-1{
   background-color:#0000bb;
}
.col-a-i-2{
    background-color:#0033bb;
}
.col-a-i-3{
     background-color: #0055bb;
}
.col-a-i-4{
    background-color:#00bbbb;
}
.col-a-i-5{
    background-color:#00eebb;
}


.col-a-j-1{
    background-color: #000066;
}
.col-a-j-2{
    background-color:#003366;
}
.col-a-j-3{
    background-color:#008866;
}
.col-a-j-4{
    background-color: #00bb66;
}
.col-a-j-5{
    background-color:#00ee11
    ;
}