/*
main color #1f254e
rgba(31, 37, 78, 0.808)
main-blue: rgba(5, 151, 224)
*/


/*--------------------------------*/
/*------------Resets----------*/
/*--------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: source sans pro;
}
html{
    font-size: 10px
}
h2,h1,h3{
    font-family:source sans pro;
    padding: 1rem 0;
    font-weight: 700;
    color: #1f254e;
}
h2{
    font-size: 4.6rem;
}
a{
    text-decoration: none;
}
p{
    font-size: 1.5rem;
    font-family:source sans pro;
    font-weight: 400;
    letter-spacing: 1.2pt;
    color: rgba(31, 37, 78, 0.808);
}
header{
    background: url(img/bg1.svg) no-repeat 100% 100%;
    background-size: 90rem;
    height: 100vh;
    position: relative;
}
body{

    background:linear-gradient(to top,rgba(255, 255, 255, 0.55),rgba(255, 255, 255, 0.55)) ,url("../pattern.png") ;
}
.body{
    max-width: 130.0rem;
    margin: 0 auto;
    padding: 3rem 6rem;
    border-radius: 20px;
    background: rgba(247, 247, 247, 0.500)
}
.header--text{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%,-50%);
}
.header--text__title{
    font-size: 8.5rem;
    line-height: 7.2rem;
}
.header--text__buttom{
    margin-top: 5rem;
}
.header--text__paragrph{
    font-size: 1.6rem;
    max-width: 65rem;
    text-align: left;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem 9rem;

}
.header__logo--right > div{
    display: inline-block;
    padding-left: 2rem;;
}

/*--------------------------------*/
/*-------------Logos--------------*/
/*--------------------------------*/
.header__logo{
    width:17rem;
}
.header__github-logo{
    width:13rem;
}
.header__pinterest-logo{
    width:16rem;
}
.header__nav img:hover{
    filter: opacity(0.8);

}
/*--------------------------------*/
/*------------***Pallets----------*/
/*--------------------------------*/
.pallets{
      padding-top: 3rem;     
}
.pallets:not(:last-child){
    margin-bottom: 10rem;
}
.hot-pallets{
    margin-bottom: 8rem;
}
.hot-pallets__info{
    display: flex;
    margin-bottom: 2.5rem;
    
}
.hot-pallets__info p{
    flex: 1;
}
.hot-pallets__gradient{
    display: block;
    background: linear-gradient(to right,#f04393,#f9c449) ;
    flex: 1.2;
    border-radius: 1000px;
}
.hot-pallets__fish{
    width: 60%;
    display: block;
    position: relative;
    padding-bottom: 120px;
}
.hot-pallets__fish img{
    position: absolute;
   width: 82%;
   transform: translate(10%,-55%);
   
}

.pallets__display{
display: flex;
justify-content: space-around;
flex-flow: row wrap;
margin-top: 5rem;
}
.pallets__display--conteiner{
    display: block;
    width: 21.5rem;
    height:23.5rem;
}
.pallets__display--background{
    width: 18.5rem;
    height:18.5rem;
    display: block;
}
/*hover*/
.pallets__display--background:first-child:hover{
    background: black;
}
/*--------------------------------*/
/*------------MonoColors----------*/
/*--------------------------------*/

.pallets__display--conteiner__mono >span{
    display: block;
}
.pallets__display--conteiner__mono{
    display: block;
    width: 32rem;
    height:16rem;
}
.pallets__display--conteiner__mono > span:not(:first-child){
    flex: 1;

}
.pallets__display--conteiner__mono >span:first-child{
    flex: 1.5;
}

.pallets__display--conteiner__mono {
    display: flex;
    flex-direction: column;
}
.pallets__display--conteiner__mono > span:hover{
    background: #000;
}

.rounded{
    border-radius: 100px;
}
.curves{
    border-radius: 15px;
}
.curves-top{
    border-radius: 15px  15px 0 0;
}
.curves-bottom{
    border-radius:0px 0px 15px  15px ;
}
.pallets__display--text{
    display:inline-block;
    text-align: left;
    border: 1px solid rgba(102, 102, 102, 0.171);
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 0.5rem 2rem .5rem 2rem;
    width: 80%;
}
.pallets__display--text h4{
    font-size: 1.5rem;
    color:rgba(58, 58, 75, 0.801);
}
.pallets__display--text ul{
    font-family: 'Courier New', Courier, monospace;
    list-style-type: none;
    color: rgba(119, 117, 117, 1);
    font-size: 1.4rem;
}
.pallets__display--text ul li{
    display: inline-block;
}
.pallets__display--text ul li:last-child{
    color: rgb(128, 128, 128);
}
.hot-pallets__buttom{
    display: inline-block;
    margin-top: 50px;
    margin-right:80px;
    display: flex;
    justify-content: center;
}
/*  Flat color*/
.pallets__display{
}
/*--------------------------------*/
/*------Quality / Features--------*/
/*--------------------------------*/
.quality{
    background: linear-gradient(120deg, rgb(6, 119, 175),rgb(5, 151, 224)) ;
    margin-bottom: 5rem;
    padding: 2.5rem 5rem 8rem 5rem;
    border-radius: 50px;
}
.quality h2{
    padding: 0 0 4rem 0;
    margin:0;
    color:  rgb(236, 236, 236);
    text-align: center;
}
.quality h3 {
    color: rgba(58, 58, 75, 0.897)
}
.quality--flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.quality--item{
    padding: 1rem;
    width: 18rem;
    height: 18rem;
    text-align: center;
    background: rgb(236, 236, 236);
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.089);
    transition: all 0.2s ease-in;
}
.quality--item:hover,.quality--item:active{
    transform: translateY(-20px);
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.281);

}
.quality--item:hover i{
    color: rgb(12, 137, 199);
}
.quality--item i{
    display: inline-block;
    margin-top: 10px;
    font-size: 8.5rem;
    color: rgb(6, 119, 175);
    transition: all 0.2s ease-in;

}
.quality--item h3{
    font-size: 1.6rem;
}

.hot-pallets__mono{
    display: block;
    flex: 1;
    transform: translateY(-40%);
    margin-bottom: -100px;
    }
/*Buttom*/
.buttom{
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    padding: 1rem 2.5rem;
    border-radius: 500px;
    transition: all .3s ease;
   
}
.buttom__normal:hover{
    color: #fff;
    background-position: 100%;
}
.buttom__normal{
    border: 2pt solid #1f254e;
    color: #1f254e;
    background: linear-gradient(to right bottom, transparent 0%, transparent 50% ,#1f254e 50% );
    background-size: 300%;
}
.buttom__closed__white{
    border: 2pt solid #ffffff;
    color: #498adf;
    background: linear-gradient(to right bottom, #fff 0%, #fff 50% ,#498adf 50% );
    background-size: 300%;
   
}
.buttom__closed__white:hover{
    color: #fff;
    background-position: 100%;
}
/*--------------------------------*/
/*-------------Quotes-------------*/
/*--------------------------------*/

.home_quote--Box{
    background: url(img/icon-4.svg) no-repeat,no-repeat  50% 50% linear-gradient(to right bottom,rgb(115, 194, 240),rgb(35, 51, 210)) content-box;
    background-position:right;
    height: 32rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.home_quote--content{
    width: 55%;
    margin-left: 10rem;
}
.home_quote--content__q{
    font-size: 4.2rem;
     font-weight: 700;
    color: #ffffff;
}
.home_quote--content span{
    display: block;
    font-size: 1.8rem;
    padding: 1rem 0 0 0;
    font-style: italic;
    color: rgba(255, 255, 255, 0.616);
}
.home_quote--content span::after, .home_quote--content span::before{
    content: " - ";
}
/*--------------------------------*/
/*-------------footer-------------*/
/*--------------------------------*/
.footer{
    height: 8.5rem;
    background:linear-gradient(to right bottom,#6ab3ed,#3c4cf3);
    color: #fff;
    text-align: center;
    padding: 2.2rem;
    margin-top: 2rem;
}
.footer img{
    height: 2.8rem;
}
.footer--logo{
    display: block;  
}
.footer h6, .footer--mrpaps{
    font-size: 1.3rem;
    font-weight: normal;
    color: #fff;
    letter-spacing: 0.6pt;
    padding: 0.5rem

}
.footer--mrpaps{
    color: #1f254e;
    background: #e6e6e6;
    padding: 2px 5px;
    border-radius: 3px;
    transition: all 0.25s;
    display: inline-block;
}
.footer--mrpaps:hover{
    background: none;
    transform: scale(1.1) rotate(-5deg);
    border: 1px solid #fff;
    color: #fff
}