/*
main color #1f254e
rgba(31, 37, 78, 0.808)
main-blue: rgba(5, 151, 224)
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: source sans pro;
}
html{
    font-size: 10px
}
h2,h1,h3{
    font-family:source sans pro;
    padding: 1rem 0;
    font-weight: 700;
    color: #1f254e;
}
h2{
    font-size: 3.5rem;
}
a{
    text-decoration: none;
}
p{
    font-size: 1.5rem;
    font-family:source sans pro;
    font-weight: 400;
    letter-spacing: 1.2pt;
    color: rgba(31, 37, 78, 0.808);
}
header{
    background: url(img/bg1.svg) no-repeat 100% 100%;
    background-size: 90rem;
    height: 100vh;
    position: relative;
}
body{
    background:linear-gradient(to top,rgba(255, 255, 255, 0.55),rgba(255, 255, 255, 0.55)) ,url("../pattern.png") ;
}
.body{
    max-width: 130.0rem;
    margin: 0 auto;
    padding: 3rem 6rem;
}
.header--text{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%,-50%);
}
.header--text__title{
    font-size: 8.5rem;
    line-height: 7.2rem;
}
.header--text__buttom{
    margin-top: 5rem;
}
.header--text__paragrph{
    font-size: 1.6rem;
    max-width: 65rem;
    text-align: left;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem 9rem;
 
}
.header__logo--right > div{
    display: inline-block;
    padding-left: 2rem;;
}

/*Logos*/
.header__logo{
    width:17rem;
}
.header__github-logo{
    width:13rem;
}
.header__pinterest-logo{
    width:16rem;
}
.header__nav img:hover{
    filter: opacity(0.8);

}
/* Pallets*/
.pallets{
      padding-top: 3rem;
}
.hot-pallets{
    margin-bottom: 8rem;
}
.hot-pallets__info{
    display: flex;
    width: 100%;
}
.hot-pallets__info p{
    width: 50%;
}
.hot-pallets__gradient{
    display: block;
    background: linear-gradient(to right,#f04393,#f9c449) ;
    width: 50%;
    border-radius: 1000px;
}
.hot-pallets__fish{
    width: 55%;  
    display: block;
    position: relative;
}
.hot-pallets__fish img{
    position: absolute;
    width: 40rem;
    top: -180%;
    right: 15%;
}

.pallets__display{
display: flex;
justify-content: space-around;
flex-flow: row wrap;
margin-top: 5rem;
}
.pallets__display--conteiner{
    display: block;
    width: 21.5rem;
    height:23.5rem;   
}
.pallets__display--background{
    width: 18.5rem;
    height:18.5rem;
    display: block;
}
.rounded{
    border-radius: 100px;
}
.curves{
    border-radius: 15px;
}
.pallets__display--text{
    display:inline-block;
    text-align: left;
    border: 1px solid rgba(102, 102, 102, 0.171);
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 0.5rem 2rem .5rem 2rem;
    width: 80%;
}
.pallets__display--text h4{
    font-size: 1.5rem;
    color:rgba(58, 58, 75, 0.801);
    
}
.pallets__display--text ul{
    font-family: 'Courier New', Courier, monospace;
    list-style-type: none;
    color: rgba(119, 117, 117, 1);
    font-size: 1.4rem;
}
.pallets__display--text ul li{
    display: inline-block;
}
.pallets__display--text ul li:last-child{
    color: rgb(128, 128, 128);
}
/*hover*/
.pallets__display--background:first-child:hover{
    background: black;
}

.hot-pallets__buttom{
    display: inline-block;
    margin-top: 50px;
    margin-right:80px;
    display: flex;
    justify-content: center;
}
/*  Flat color*/
.pallets__display{

}
/* Quality section*/

.quality{
    background: linear-gradient(rgb(5, 151, 224),rgb(5, 151, 224)) ;
    margin-bottom: 5rem;
    padding: 10rem;
    border-radius: 50px;
}
.quality--flex{
    display: flex;
    justify-content: space-around;
    align-items: center;  
}
.quality--item{
    padding: 1rem 2rem;
    text-align: center;
    background: rgba(236, 236, 236, 1);
}
.quality--item img{
    font-size: 52pt;
}
.quality--item h3{
    font-size: 12pt;
}

/*background{ */
.hot-1{
    background: linear-gradient(#fec194,#f04393);
}
.hot-2{
    background: linear-gradient(#00ffff,#f9c449);
}
.hot-3{
    background: linear-gradient(#f04393,#f9c449);
}

.hot-4{
    background: linear-gradient(#fc0061, #1fc9fd);
}
/*line 2*/
.hot-5{
    background: linear-gradient(#ffe53b,#ff2525);
}
.hot-6{
    background: linear-gradient(#00c0ff,#421888);
}
.hot-7{
    background: linear-gradient(#5efce8,#28c76f);
}

.hot-8{
    background: linear-gradient(#f04393, #ff2525);
}
/*line 3*/
.hot-9{
    background: linear-gradient(#c73866,#ffdca2);
}
.hot-10{
    background: linear-gradient(#f94a6b,#28c76f);
}
.hot-11{
    background: linear-gradient(#f94a6b,#f8d90f);
}

.hot-12{
    background: linear-gradient(#d0e6a5, #4aDEDE);
}

/* colors*/
.col-1{
    background-color: #421888;
}
.col-2{
    background-color:#5efce8;
}
.col-3{
    background-color:#c73866;
}
.col-4{
    background-color: #ffdca2;
}
.col-5{
    background-color:#28c76f;
}
.col-6{
    background-color:#f8d90f;
}
.col-7{
    background-color: #4aDEDE;
}
.col-8{
    background-color:#ff2525;
}
.col-9{
    background-color:#f04393;
}
.col-10{
    background-color: #8e17b3;
}
.col-11{
    background-color:#fc5ec7;
}
.col-12{
    background-color:#f1fc5e;
}
 
/*Buttom*/
.buttom{
    font-size: 2rem;
    color: #1f254e;
    font-weight: 700;
    text-transform: capitalize;
    border: 2pt solid #1f254e;
    padding: 1rem 2.5rem;
    border-radius: 500px;
    transition: all .3s ease;
    background: linear-gradient(to right bottom, transparent 0%, transparent 50% ,#1f254e 50% );
    background-size: 300%;
}
.buttom:hover{
    color: #fff;
    background-position: 100%;
} 
/*
.hot-7{
    background: linear-gradient(#81fbb8,#28c76f);
}
*/